html {
    scroll-behavior: smooth !important;
  }

  .w-100{
    width: 100% !important;
  }

  .video{
    min-height: 450px;
  }

  .teams li{
    a{
        font-weight: bold;
        text-decoration: underline;
    }
  }
  .red{
    color: #f43f5e;
    line-height: 16px !important;
    display: block;
  }
.nextra-nav-container-blur {
    opacity: .9;
}
.underline{
    text-decoration: underline;
}

.warning {
    background-color: rgba(251,146,60,.2);
    border: 1px solid rgba(251,146,60,.3);
    color: rgba(253,186,116,1);
    font-size: .9rem;
    padding: .5rem;
    border-radius: .5rem;
    margin:.5rem auto;
    margin-top:1rem;
    ul{
        list-style:disc;
        margin-left: .5rem;
    }
    li{
        margin: 0.45rem 0;
        line-height: 1.5rem;
    }
}

.dark{
    body{
        background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(0 26 55) 51.2%, rgb(0, 0, 0) 98.6%) !important;
    }
}

.logo{
    min-width:130px
}


.display-team{
    display: flex;
    flex-direction: row;
    width: 100%;
    .heroes{
        flex:1;
    }
    .damage{
        flex:0.5;
        padding: .5rem;
        margin: 0 !important;
        p, small{
            text-align: right;
        }
    }
}

.team-list {

    .teams {
    border-left:10px solid #515964 !important;
    }      

    .teams:nth-of-type(1) {
        border-left:10px solid #C9B037 !important;
    }

    .teams:nth-of-type(2) {
        border-left:10px solid #D7D7D7 !important;
    }

    .teams:nth-of-type(3) {
        border-left:10px solid #AD8A56 !important;
    } 
}     

.overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:rgba(21, 30, 41, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 3rem;
    &.hidden{
        display: none;
    }
    .closeHitbox{
        position: fixed;
        width: 100%;
        height: 100%;  
    }
    .modal{
        background: #2c3c4f;
        z-index: 1000;
        padding: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        div{
            width: 100% !important;
            height: 100% !important;
        }
        &.with-text{
            height: unset;
            padding: 1rem;
            max-height: unset;
        }
        ul{
            list-style:inside;
            padding-left: 1rem;
        }
    }
}

.p-0{
    padding: 0px !important;
}

.p-1{
    padding: .5rem !important;
}

.p-2{
    padding: 1rem !important;
}

.mx-auto{
    margin: 0 auto !important;
    display: block;
}

.dark .guild{
    display: flex;
    align-items: center;
    margin:1rem 0 !important;
    a{
        color: white;
        font-size: .8rem;
        font-weight: bold;
    } 
    &.top1{
        background: linear-gradient(-45deg, rgba(201, 176, 55, 0.1), rgba(201, 176, 55, 0.3), rgba(201, 176, 55, 0.1), rgba(201, 176, 55, 0.3));
        background-size: 400% 400% !important;
        animation: gradient 5s ease infinite !important;
        border: 2px solid #C9B037 !important;
        position: relative;
        overflow-x: hidden !important;
        width: 100%;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .logo{
        margin: 0 auto;
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    .btn{
        background: #5865F2;
    }
}

.col-large{
    flex:2;
}
.col-small{
    flex:.5;
}

table{
    width: 100%;
    margin: 1rem 0;
    th,td{
        background:rgba(0,0,0,.1);
        border: 1px solid rgba(255,255,255,.2);
        padding: .5rem;
        text-align: left;
    }
}
.mt-0{
    margin-top: 0 !important;
}

.nextra-toc{
    //display: none !important;
    .nextra-scrollbar{
        p, div:last-of-type{
            display: none !important    ;
        }
    }
}


h1, .title{
    font-size: 1.5rem !important;
    line-height: 1.75rem;
    margin-bottom: 1rem !important;
    span{
        font-weight: 600;
        color:#008be6;
    }
}

.subtitle{
    font-size: 1rem !important;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    display: block;
}

.nextra-callout{
    padding:1rem;
    .nx-select-none{
        display: flex;
        align-items: center;
    }
    .nx-leading-7{
        padding-left: 1rem;
        line-height: 1.25rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
}

a.nolook{
    text-decoration: none !important;
    color: unset !important;
}   

.dmg{
    font-size : 1.5rem;
    font-weight: bold;
}

.item{
    background: rgba(82, 186, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    transition: all ease .5s;
    cursor: pointer;
    p{
        font-weight: bold;
        font-size: 1.2rem !important;
    }
    &:hover{
        background: rgba(82, 186, 255, 0.2);
    }
    &.no-link{
        &:hover{
            background: rgba(82, 186, 255, 0.1);
            cursor: auto;
        }
    }
    &.outline{
        border: 3px solid rgba(255,255,255,.1);
        background: none;
        pointer-events: none;
    }
    &.with-image{
        flex-direction: row; 
        margin:20px 0;
        img{
            flex: 2;
            height: 100px;
            max-width: 100px;
            background: rgba(82, 186, 255, 0.2);
            margin-right: 2rem;
        }
        .text{
            flex:5;
            .description{
                font-size: .8rem !important;
                font-weight: normal !important;
            }
            hr{
                margin: .5rem 0;
            }
        }
        .required{
            display: flex;
            justify-content: space-between;
            font-size: .85rem !important;
            .focus{
                color: rgba(0,139,230,.9);
            }
        }
    }
}
.icon-inline{
    display: inline;
    width: 20px;
}

.d-flex{
    display: flex;
}
.hero-home{
    padding: 3rem;
    background: url('./static/home-banner.png');
    background-size: cover;
    background-blend-mode: multiply;
    margin-top:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1,p{
        display: block;
        text-align: center;
    }
}

.team-list{
    margin: 1rem 0 !important;

    .infos{
    display: flex;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
        .heroes{
            width: 100%;
            display: flex;
            padding: 0 .5rem;
            justify-content: space-between;
            flex-wrap: wrap;
        
            div{
                width:15%;
                max-width: 75px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: .25rem;
                .inner-box{
                    width: 100%;
                    padding: 5px;
                    img{
                        width: 100%;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
        .relic{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .inner-box{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                margin-top: 0 !important;
            }
            img{
                max-width: 75%;
                margin: 0 auto;
            }
        }
        .links{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            a{
                margin: 0 .5rem;
            }
        }
    } 
    .tab, .chains{
        margin-top:1rem;
        padding-left: .5rem;
        border-left: 3px solid rgba(255,255,255,.3);
        background: rgba(0,0,0,.25);
        border-radius: .5rem;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        padding: .5rem;
            p{
                margin-bottom: 10px;
                span{
                    color: rgba(255,255,255,.5);
                    width:20px;
                    display: inline-block;
                    &.no-infos{
                        width:100%;
                    }
                }
                font-weight: bolder;
                font-size: .9rem;
            }
    }
}

.btn{
    padding:.5rem 1rem;
    margin: .75rem 0;
    display: block;
    width: fit-content;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bolder;
    transition: all ease .3s;
    cursor: pointer;
    &.alt{
        background-color: rgba(255,255,255,0.2);
        border:none;
    }
    &.rounded{
        min-width: 30px;
        min-height: 30px;
        padding: 0;
        border-width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.round{
        width: 15%;
        height: 50px;
        padding: 0;
        border-width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;  
        border:none;  
        background-color: rgba(255,255,255,.1);
        border: 1px solid rgba(255,255,255,.1);
        img {
            padding: .5rem;
        }
        &.active{
            background-color: rgba(0,139,230,.3);
            border:1px solid rgba(0,139,230,.9);;
        }
    }
    &.activated{
        bottom: 50px;
    }
    &:hover{
        opacity: .6;
    }
    &.form{
        height: 100%;
        text-decoration: none;
        color: white;
        border-radius: .5rem;
        margin: 0;
        margin-left:1rem;
        background: #4bc77b;
    }
}

.search-input{
    display: flex;
    align-items: center;
}
.nolink{
    margin-top: 1rem;
    display: block;
    color: white;
    opacity: .5;
    text-align: center;
    max-width: 200px;
    font-size: .75rem;
    font-weight: bolder;
    line-height: .75rem;
    transition: all ease .3s;
    cursor: pointer;
}


.text-center{
    text-align: center;
    display: block;
}

.text-left{
    text-align: left;
}

.nx-transform-gpu{
    .nx-relative{
        flex-direction: column-reverse;
    }
}

.iframe{
    width:100%;
    height:400px;
    border-radius: .5rem;
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
    padding: 1rem;
}

.my-0{
    margin-top: 0px !important;
    margin-bottom: 0px !important; 
}

.mb-0{
    margin-bottom: 0px !important;  
}

.my-1{
    margin: .5rem 0 !important;  
}


.ref{
    font-size: .5rem;
    opacity: .2;
}

.o-30{
    opacity: .3;
}

.o-60{
    opacity: .6;
}

.grid{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .25rem;
    &.cols-3{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 1rem;        
    }
    &.heroes{
        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
        p{
            margin: 0;
        }
    }
    &.boss{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        margin-top: 1rem !important;
        .box{
            margin:0;
            cursor:pointer;
            padding: .25rem .5rem;
            transition: all ease .3s;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:hover{
              background-color: rgba(0,139,230,.1);
            }
            img{
                max-width: 60px;
                margin-right: 1rem;
            }
        }
    }
}

.box{
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    padding: 1rem;
    padding-bottom: .5rem;
    border-radius: .5rem;
    margin:.5rem;
    &.small{
        padding: .5rem;
        margin-top: 2rem;
    }
    &.active{
        background-color: rgba(0,139,230,.3);
        border:1px solid rgba(0,139,230,.9);
        &::before{
            text-transform: uppercase;
            font-size: 10px;
            width: 100%;

        }
    }
}

.inner-box{
    background-color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.5);
    border-radius: .5rem;
    width: 100%;
    margin: 0 !important;
    margin-top: .5rem !important;
    img{
        width: 100%;
        padding: 0.2rem;
    }
    &.square{
        max-width:3rem;
        height:3rem; 
    }
}

li{
    h4{
    font-size: 1rem;
    line-height: 1rem;
    }
}
.light{
    .box{
        background-color: rgba(0,0,0,.1);
        border-color: rgba(0,0,0,.1);
    }
}
.badge{
    margin: .5rem 0;
    background:#f43f5e;
    display: inline-flex;
    padding: 0 1rem;
    font-size: bolder;
    text-transform: uppercase;
    font-size: .75rem;
    border-radius: 50px;
    &.top1{
        margin: 0 auto;
        display: block;
        text-align: center;
        width: fit-content;
        background: linear-gradient(-45deg, rgba(201, 176, 55, 0.3), rgba(201, 176, 55, 0.5), rgba(201, 176, 55, 0.3), rgba(201, 176, 55, 0.5));
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
        position: relative;
        overflow-x: none !important;
    }
}

img{background-image: none !important;}



.m-0{
    margin: 0 !important;
}

.m-1{
    margin: 1rem !important;
}

.more{ display: none;}
.build{
    width: 100% !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 961px) {
    .xs-only{
        display: none !important;
    }
}
@media only screen and (max-width: 960px) {
    .overlay{
        padding: 10px;
    }

    .search-input{
        flex-direction: column;
        .btn{
            margin: 0;
            margin-top: 1rem;
            width: 100%;
            text-align:center;
        }
    }
    .guild{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem !important;
        .col-small,.col-large{
            padding: .5rem !important;
        }
    }
    .display-team{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: .5rem;
        border-bottom:1px solid rgba(255,255,255,.5);
        margin-bottom: 1rem;
        .heroes{
            flex:1;
        }
        .damage{
            flex:0.5;
            margin: .5rem 0 !important;
            
            p, small{
                text-align: right;
                line-height: 20px;
            }
        }
    }

    .team-list .infos .links{
        margin-top: 0rem;
    }

    .teams{
        overflow: hidden;
        transition: max-height ease 0.26s;
        &.collapsed{
            max-height: 1000px;
        }
    }
    .xs-hidden{
        display: none !important;
        transform: scaleY(0);    
        transform-origin: top;
        transition: all 0.3s ease;
        opacity: 0;
    }
    .xs-shown{
        display: inherit;
        transform: scaleY(1);
        transition: all 0.3s ease;
        opacity: 1;
    }

    .infos{
        flex-direction: column;
        justify-content: center;
        
        .heroes,.relic, .links{
            width: 100% !important;
            margin-top: 1rem;
            justify-content: center;
            display: flex;
        }
    }
    .build{
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .heroes{
            padding: 0 !important;
            margin: 0 !important;
            .btn{
                padding: .5rem !important;
                margin: 0 !important;
            }
            div{
                padding: 0.5rem;
                justify-content: center;
                width: 20% !important;
                max-width: unset;
            }
            .inner-box{
                width: 20% !important;
            }
        }
        .relic{
            padding: 0 !important;
            margin: 0 !important;
            flex: 0 0 33.33%; /* 1/3 width */
            max-width: 33.33%;
            .inner-box{
                width:50%;
            }
        }
        .links{
            flex: 0 0 100%; /* 3/3 width */
            margin-top:.25rem;
            justify-content: space-evenly !important;
            .btn{
                width:45px;
                height: 45px;
            }
        }

       
        .more{
            height: 100%;
        }
    }


  .nx-px-6{
    padding-left: .5rem !important;
    padding-right: .5rem !important;
  }

  .box{
    margin: 0;
  }


  .inner-box.m-1{
    margin: .1rem !important;
  }
  }


  .yt-picture{
    width:50px !important;
    height: 50px;
    border-radius: 100%;
  }

  .glitter{
    background-color: #1c87c9;
    font-size: 1rem;
    animation: glowing 1300ms infinite;
  }

  @keyframes glowing {
    0% {
      background-color: #933e3e;
      box-shadow: 0 0 5px #2ba805;
    }
    50% {
      background-color: #cb4949;
      box-shadow: 0 0 20px #cb4949;
    }
    100% {
      background-color: #933e3e;
      box-shadow: 0 0 5px #cb4949;
    }
  }
  @keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

  .pattern{
    opacity: .5;
    margin-bottom: 1rem;
  }

