
$dark : rgba(34, 34, 38, 1);
$blue : rgba(62, 83, 186, 1);

.dark{
    body{
        background: url('./static/bg.png') !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        background-repeat: no-repeat;
    }

    .gradient{
        background: linear-gradient(90deg, #5674FF 0%, #91A5FA 100%) !important;
    }

    .outline{
        background: transparent !important;
        border:1px solid rgba(255,255,255,.1);
    }
    .capitalize{
        text-transform: capitalize;
    }

    .uppercase{
        text-transform: uppercase;
    }

    .iblock{
        display: inline-block;
    }
    .elementBoss{
        display: inline-block;
        width: 20px;
        margin-left: .5rem;
    }
    .outline-title {
        color: #ffffff;
        text-shadow: 0px 0px 20px #ffffff, 0px 0px 5px #ffffff;
        text-transform: uppercase;
        font-size: .75rem;
        margin: .5rem auto;
    }

    .outline-section {
        border-radius: .5rem;
        background: linear-gradient(270deg, rgba(35, 35, 38, 0.2) 0%, rgba(62, 84, 186, 0.2) 100%);
        box-shadow: 0px 0px 15.9px 9px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
    }

    .box{
        background: linear-gradient(90deg, rgb(30, 36, 62) 0%, rgba(32, 38, 64,0) 100%);
        box-shadow: 0px 0px 15.9px 9px rgba(0, 0, 0, 0.1);
        border-radius: .5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin:1rem;
        border:none;
        border-left:5px solid rgb(61, 83, 124);
        backdrop-filter: blur(10px);
        &.active{
            background: linear-gradient(90deg, #3a4c9e 0%, rgba(32, 38, 64,0) 100%);
            border-left: 5px solid rgb(107, 152, 236);
        }
    }

    .nextra-callout, .warning{
        background: linear-gradient(90deg, #2f3e1e 0%, rgba(32, 38, 64,0) 100%) !important;
        box-shadow: 0px 0px 15.9px 9px rgba(0, 0, 0, 0.1);
        border-radius: .5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin:1rem;
        border:none;
        border-left:5px solid rgb(249, 255, 77) !important;
        padding-left: 1rem;
        display: flex;
        align-items: center;
    }

    .item{
        &.link{
            cursor: pointer !important;
        }
        &.timer{
            background: linear-gradient(90deg, #5674FF 0%, #91A5FA 100%);
            pointer-events: none;
            padding: .25rem;
            .content{
                width: 100%;
                background: rgb(36, 52, 81);
                border-radius: .25rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: .5rem;
            }
        }
        .boss{
            padding: .1rem;
            margin: 0 .25rem;
            background: rgb(61, 83, 124);
            display: flex;
            justify-content: center;
            position: relative;
            &.no-link{
                pointer-events: none;
            }
            .bossImg{
                &.interact{
                    transition: all ease .3s;
                    padding: 2rem;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.2);
                        filter: brightness(1.5);
                        opacity: .8;
                    }
                }
            }
            .element{
                position: absolute;
                bottom: -20px;
                transition: all ease .3s;
                &.big{
                    width:50px;
                }
                &.interact{
                    &:hover{
                        filter: brightness(1.5);
                        transform: scale(1.2);
                    }
                }
            }
        }
        &.cta{
            background: linear-gradient(90deg, #5674FF 0%, #91A5FA 100%);
            height: 100%;
            &:hover{
                opacity: .8;
            }
            .d-flex{
                align-items: center;
                justify-content: center;
                max-width: 95%;
            }
            p{
                padding-left: .5rem;
                line-height: 1rem;
            }
        }
        &.ended{
            background: linear-gradient(90deg, #FF5656 0%, #FA9191 100%);
            pointer-events: none;
        }
        &.ongoing{
            background: linear-gradient(90deg, #39d059 0%, #6bc79b 100%);
            pointer-events: none;
        }
    }

    .icon{
        width: 30px;
        margin: .5rem;
    }

    .label{
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;
        font-size: .75rem !important;
        opacity: 1;
        &.bold{
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .with-border{
        padding-bottom: .5rem;
        border-bottom: white 1px solid;
    }
    
    .minw-50{
        min-width: 50px;
    }

    .maxw-100{
        max-width: 200px;
    }
    .m-sm{
        margin: .25rem;
    }

    .fd-column{
        display: flex;
        flex-direction: column;
        background: rgba(.255,255,255,.1);
    }

    .elementModal{
        max-height: 80%;
        overflow-y: auto;
    }

    .bossModal{
        max-height: 80%;
        overflow-y: auto;
        .item{
            max-height: 120px;
            display: flex;
            flex-direction: row;
            justify-content: normal;
            margin: 1rem 0;
            padding: 1rem;
        }
        .boss{
            height: 100%;
        }
        .name{
            margin-left: .5rem;
        }
    }

    .btn{
        width: 20%;
        &.hex{
            padding: 0;
            background: none;
            mix-blend-mode: normal;
            filter: saturate(1);
            &.hidden{
                opacity: 0.1;
                pointer-events: none;
                cursor:not-allowed;
            }
            &.active{
                mix-blend-mode: color;
                filter: saturate(5);
            }
            img{
                width: 100%;
                height: 100%;
                max-height: 50px;
            }
        }
    }
}